<html>
<head>
    <meta charset="utf-8">
    <style>
        body {
            margin: 50px auto;
        }

        table, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        table {
            width: 80%;
            margin: auto;
        }

        td {
            padding: 5px;
        }

        input {
        }

        textarea {
            height: 50px;
            width: 100%;
        }

        .full {
            width: 90%;
        }

        .ta1 {
            height: 200px;
        }
    </style>
    <title>一级（段）通信线路及设备停机要点审批表</title>

    <link rel="stylesheet" href="/stylesheets/cxcalendar.css">
    <script src="/javascripts/jquery-1.9.1.js"></script>
    <script src="/javascripts/calendar.js"></script>

</head>
<body onload="controldisplay()">
<%- include('nav') %>
<%- include('notif') %>
<form action="/app1" method="post">

		<input type="hidden" name="approve" id="approve" 
		<% if(nextperson%10==9){%>
		value=<%="false"%>
		<%}else{%>
		value=<%="true"%>
		<%} %>
		/>
    <table>
        <caption>一级（段）通信线路及设备停机要点审批表</caption>
        <tbody>
        <tr>
            <td colspan="1"><span>申请车间(盖章)</span></td>
            <td colspan="1"><input name="workshop" type="text" readonly value=<%= workshop %>></td>
            <td colspan="1"><span>联系电话</span></td>
            <td colspan="1"><span class="cj" style="color:red;font-weight:bold;display:none;">*</span>
                <input class="full cj" readonly id="telephone" name="telephone" type="text"
                       value=<%= telephone %>></td>
            <td colspan="1"><span>传真</span></td>
            <td colspan="1"><span class="cj" style="color:red;font-weight:bold;display:none;">*</span>
                <input class="full cj" id="fax" readonly name="fax" type="text" value=<%= fax %>></td>
        </tr>
        <tr>
            <td colspan="1"><span>申请编号</span></td>
            <td colspan="1"><input name="applyid" type="text" readonly value=<%= applyid %>></td>
            <td colspan="1"><span>批复编号</span></td>
            <td colspan="3"><input name="approveid" type="text" readonly value=<%= approveid %>></td>
        </tr>
        <tr>
            <td colspan="3">线路或区段名称</td>
            <td colspan="3">停机原因</td>
        </tr>
        <tr>
            <td colspan="3"><span class="cj" style="color:red;font-weight:bold;display:none;">*</span>
                <input class="full cj" id="section" readonly name="section" type="text"
                       value=<%= section %>></td>
            <td colspan="3"><span class="cj" style="color:red;font-weight:bold;display:none;">*</span>
                <input class="full cj" id="reason" readonly name="reason" type="text" value=<%= reason %>>
            </td>
        </tr>
        <tr>
            <td colspan="6" align="center">申请要点时间</td>
        </tr>
        <tr>
            <td colspan="3">起始时间：<span class="cj" style="color:red;font-weight:bold;display:none;">*</span>
                <input class="cj time" autocomplete="off"
                       readonly id="sqstarttime" name="sqstarttime" type="text"
                       value="<%= sqstarttime %>">
            </td>
            <td colspan="3">截止时间：<span class="cj" style="color:red;font-weight:bold;display:none;">*</span>
                <input class="cj time" readonly autocomplete="off"
                       id="sqendtime" name="sqendtime" type="text" value="<%= sqendtime %>">
            </td>
        </tr>
        <tr>
            <td colspan="6" align="center">建议通知部门</td>
        </tr>
        <tr>
            <td colspan="6" align="center">
                <input class="cj ckdepart" readonly type="checkbox" value="北京会调中心">北京会调中心
                <input id="noticedepart" hidden="hidden" name="noticedepart" value="<%= noticedepart %>"/>
                <input class="cj ckdepart" readonly type="checkbox" value="GSM-R技术支持中心">GSM-R技术支持中心
            </td>
        </tr>
        <tr>
            <td colspan="6" align="center">施工负责人及施工配合人</td>
        </tr>
        <tr>
            <td colspan="6" align=""><span class="cj" style="color:red;font-weight:bold;display:none;">*请在此行下方填写</span>
                <textarea readonly name="shigongfang" class="cj"
                          id="shigongfang" value=<%= shigongfang %>><%= shigongfang %></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="6" align="center">影响范围及停机施工方案(可另附页)</td>
        </tr>
        <tr>
            <td colspan="6" align=""><span class="cj" style="color:red;font-weight:bold;display:none;">*请在此行下方填写</span>
                <textarea readonly class="cj" id="plan" name="plan"
                          value=<%= plan %>><%= plan %></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="6" align="center">电路或设备倒代措施</td>
        </tr>
        <tr>
            <td colspan="6" align=""><span class="cj" style="color:red;font-weight:bold;display:none;">*请在此行下方填写</span>
                <textarea readonly class="ta1 cj" id="techplan"
                          name="techplan" value=<%= techplan %>><%= techplan %></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="6" align="center">施工安全组织措施</td>
        </tr>
        <tr>
            <td colspan="6" align=""><span class="cj" style="color:red;font-weight:bold;display:none;">*请在此行下方填写</span>
                <textarea readonly class="ta1 cj" id="secureplan"
                          name="secureplan" value=<%= secureplan %>><%= secureplan %></textarea>
            </td>
        </tr>
		
		<tr><td id="cjbtn" style="display:none;" colspan="6" align="center">
		<input style="width:300px;" onclick="return submitform('true')" type="submit" value="提交"/></td></tr>
        <tr>		
		
        <tr>
            <td colspan="6" align="center">车间主任审批</td>
        </tr>
        <tr>
            <td colspan="6" align=""><span class="cjzr"
                                           style="color:red;font-weight:bold;display:none;">*请在此行下方填写</span>
                <textarea readonly class="cjzr" id="workshopmgr"
                          name="workshopmgr"
                          value=<%= workshopmgr %>><%= workshopmgr %></textarea></td>
        </tr>
		<tr><td colspan="6" align="right"><label>提交时间：<%= workshopmgrtime %></label></td></tr>
		<tr><td colspan="6" align="center" style="display:none;" id="cjzrbtn">
		<input type="submit" onclick="return submitform('true')" value="同意"/>
		<input type="submit" onclick="return submitform('false')" value="不同意" /></td></tr>
        <tr>
            <td colspan="3" align="center">技术科意见</td>
            <td colspan="3" align="center">批准施工时间</td>
        </tr>
        <tr>
            <td colspan="3" align=""><span class="jsk" style="color:red;font-weight:bold;display:none;">*请在此行下方填写</span>
                <textarea readonly name="techdepart" class="jsk"
                          id="techdepart" value=<%= techdepart %>><%= techdepart %></textarea>
                <label align="right">提交时间：<%= techtime %></label>
            </td>
            <td colspan="3" align="center">
                起始时间：<span class="jsk" style="color:red;font-weight:bold;display:none;">*</span>
                <input readonly class="jsk time" autocomplete="off" id="pfstarttime" name="pfstarttime" type="text"
                       value="<%= pfstarttime %>">
                <br>截止时间：<span class="jsk" style="color:red;font-weight:bold;display:none;">*</span>
                <input class="jsk time" id="pfendtime" autocomplete="off" readonly name="pfendtime" type="text"
                       value="<%= pfendtime %>"></td>
        </tr>
		
		<tr><td colspan="6" align="center" style="display:none;" id="jskbtn">
		<input type="submit" onclick="return submitform('true')" value="同意"/>
		<input type="submit" onclick="return submitform('false')" value="不同意" /></td></tr>
		
        <tr>
            <td colspan="6" align="center">安全科意见</td>
        </tr>
        <tr>
            <td colspan="6" align=""><span class="aqk" style="color:red;font-weight:bold;display:none;">*请在此行下方填写</span>
                <textarea readonly class="aqk" id="securedepart"
                          name="securedepart"
                          value=<%= securedepart %>><%= securedepart %></textarea>
                <label align="right">提交时间：<%= securetime %></label></td>
        </tr>		
		
		<tr><td colspan="6" align="center" style="display:none;" id="aqkbtn">
		<input type="submit" onclick="return submitform('true')" value="同意"/>
		<input type="submit" onclick="return submitform('false')" value="不同意" /></td></tr>		
		
        <tr>
            <td colspan="6" align="center">主管段长意见</td>
        </tr>
        <tr>
            <td colspan="6" align=""><span class="zgdz"
                                           style="color:red;font-weight:bold;display:none;">*请在此行下方填写</span>
                <textarea readonly class="zgdz" id="manager"
                          name="manager" value=<%= manager %>><%= manager %></textarea>
                <label align="right">提交时间：<%= managertime %></label>
            </td>
        </tr>
		
		<tr><td colspan="6" align="center" style="display:none;" id="zgdzbtn">
		<input type="submit" onclick="return submitform('true')" value="同意"/>
		<input type="submit" onclick="return submitform('false')" value="不同意" /></td></tr>
		
        <tr>
            <td colspan="1"><span>完成及销点情况(销点人签字)</span></td>
            <td colspan="5"><span class="cj2" style="color:red;font-weight:bold;display:none;">*</span>
                <input class="full cj2" readonly id="result" name="result" value=<%= result %>>
				<input id="cjbtn2" onclick="return submitform('true')" type="submit" value="确认销点" style="display:none;"/></td>
        </tr>
        <tr>
            <td colspan="6" align="right">申请上报日期：<input name="applydate" readonly type="text" value="<%= applytime %>">
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
</form>


<script>
    $('.time').each(function () {
        var a = new Calendar({
            targetCls: $(this),
            type: 'yyyy-mm-dd HH:MM:SS',
            wday: 2
        }, function (val) {
            console.log(val);
        });
    });

    $('.ckdepart').click(function () {
        var departs = $(".ckdepart");
        var ckddepart = '';
        for(var idx =0;idx < departs.length;idx++) {
            if(departs[idx].checked) {
                ckddepart += departs[idx].value + ';';
            }
        }
        var noticedepart = $("#noticedepart");
        noticedepart.val(ckddepart);
    });

    $().ready(function () {
        var noticedepart = $("#noticedepart").val();
        var departs = $(".ckdepart");
        var ckddepart = noticedepart.split(';');
        for(var idx=0;idx < departs.length;idx++) {
            if($.inArray(departs[idx].value,ckddepart)!=-1){
                departs[idx].checked="checked";
            }
        }
    })
</script>

<script>
    function isIE() {
        return "ActiveXObject" in window || window.ActiveXObject ? true : false;
    }
    function getpart(name) {
        switch (name) {
            case "cj":
                return document.getElementsByClassName("cj");
            case "cjzr":
                return document.getElementsByClassName("cjzr");
            case "jsk":
                return document.getElementsByClassName("jsk");
            case "aqk":
                return document.getElementsByClassName("aqk");
            case "zgdz":
                return document.getElementsByClassName("zgdz");
            case "cj2":
                return document.getElementsByClassName("cj2");
        }
    }

    function checkpart(name) {
        var part = getpart(name);

        for (var i = 0; i < part.length; i++) {
            if (part[i].tagName.toLowerCase() == "input" && part[i].type != "checkbox") {
                if (part[i].value == "") {
                    if (part[i].type != "datetime-local") {
                        part[i].value = "此项不能为空！";
                    }
                    window.location = "#" + part[i].id;
                    return false;
                }
            } else if (part[i].tagName.toLowerCase() == "textarea") {
                if (isIE()) {
                    if (part[i].innerText == "" && part[i].value == "") {
                        part[i].innerText = "此项不能为空！";
                        part[i].value = "此项不能为空！";
                        window.location = "#" + part[i].id;
                        return false;
                    }
                } else {
                    if (part[i].innerHTML == "" && part[i].value == "") {
                        part[i].innerHTML = "此项不能为空！";
                        part[i].value = "此项不能为空！";
                        window.location = "#" + part[i].id;
                        return false;
                    }
                }

            }
        }
        return true;
    }

    function submitform(approve) {
        $("#approve").val(approve);
        var cookie = getcookie();
        switch (cookie["person"]) {
            case "1":
                if (document.getElementById("manager").innerHTML == "") {
                    return checkpart("cj");
                } else {
                    return checkpart("cj2");
                }
                break;
            case "2":
                return checkpart("cjzr");
                break;
            case "3":
                return checkpart("jsk");
                break;
            case "4":
                return checkpart("aqk");
                break;
            case "5":
                return checkpart("zgdz");
                break;
        }
        return false;
    }

    function removeReadOnly(element) {
        for (var i = 0; i < element.length; i++) {
            if (element[i].tagName.toLowerCase() == "span") {
                element[i].style.display = "";
            } else {
                element[i].readOnly = false;
            }
        }
    }
    //cookie
    //person 1-6
    //id emptb的id
    //workshop 具体名称
    function getcookie() {
        var cookies = document.cookie.split(";");
        var cookieDic = [];
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].split("=");
            cookieDic[cookie[0].trim()] = cookie[1].trim();
            //alert(decodeURI(cookie[1].trim()));
        }
        return cookieDic;
    }
    function controldisplay() {
	
		if($("#approve").val() == "false"){
			return;
		}
        var cookie = getcookie();
        switch (cookie["person"]) {
            case "1":
                var mgrelement = document.getElementById("manager");
                if (isIE()) {
                    if (mgrelement.innerText == "") {
						$("#cjbtn")[0].style.display = "";
                        removeReadOnly(getpart("cj"));
                    } else {
                        if (getpart("cj2")[1].value == "") {
							$("#cjbtn2")[0].style.display = "";
                            removeReadOnly(getpart("cj2"));
                        }
                    }
                } else {
                    if (mgrelement.innerHTML == "" && mgrelement.value == "") {
							$("#cjbtn")[0].style.display = "";
                        removeReadOnly(getpart("cj"));
                    } else {
                        if (getpart("cj2")[1].value == "") {
							$("#cjbtn2")[0].style.display = "";
                            removeReadOnly(getpart("cj2"));
                        }
                    }
                }
                break;
            case "2":
                removeReadOnly(getpart("cjzr"));				
                if($("#workshopmgr").val().replace(" ","") === "")
                {
                    $("#cjzrbtn")[0].style.display = "";
                }
                break;
            case "3":
                $("#pfstarttime").val($("#sqstarttime").val());
                $("#pfendtime").val($("#sqendtime").val());
                removeReadOnly(getpart("jsk"));				
                if($("#techdepart").val().replace(" ","") === "")
                {
                    $("#jskbtn")[0].style.display = "";
                }
                break;
            case "4":
                removeReadOnly(getpart("aqk"));
                if($("#securedepart").val().replace(" ","") === "")
                {
                    $("#aqkbtn")[0].style.display = "";
                }
                break;
            case "5":
                removeReadOnly(getpart("zgdz"));
                if($("#manager").val().replace(" ","") === "")
                {
                    $("#zgdzbtn")[0].style.display = "";
                }
                break;
        }
    }
</script>
</body>
</html>