<html>
<head>
    <meta charset="utf-8">
    <title>要点查询</title>
    <style>
        body {
            margin: auto;
        }

        h1 {
            text-align: center;
        }

        .apply {
            border: 1px solid;
            width: 80%;
            margin: auto;
            text-align: center;
        }

        .applybtn {
            width: 32%;
        }

        .container {
            margin: 40px auto 70px auto;
            width: 80%;
        }

        table, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        table {
            width: 100%;
        }

        td {
            padding: 5px;
        }

        .applylink {
            color: #000;
        }

        .applylink:visited {
            color: #222;
        }
    </style>
    <link rel="stylesheet" href="/stylesheets/cxcalendar.css">
    <script src="/javascripts/jquery-1.9.1.js"></script>
    <script src="/javascripts/calendar.js"></script>
</head>
<body>
<%- include('nav') %>
<%- include('notif') %>
<div class="container">
    <script>

        function getcookie() {
            var cookies = document.cookie.split(";");
            var cookieDic = [];
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].split("=");
                cookieDic[cookie[0].trim()] = cookie[1].trim();
                //alert(decodeURI(cookie[1].trim()));
            }
            return cookieDic;
        }
    </script>
    <form action="/home/queryResult" , method="get">
        <table>
            <tr>
                <td>
                    选择车间：
                    <% if(person == 1 || person == "1" || person == 2 || person == "2"){ %>
                    <input type="text" name="workshop" value="<%= currWorkshop %>" readonly/>
                    <% }else{ %>
                    <select name="workshop">
                        <option value="" selected='selected'></option>
                        <% for(var ws in workshopList){ %>
                        <option value="<%= workshopList[ws] %>"
                                <% if(workshop == workshopList[ws]){ %>
                                selected='selected'
                                <% } %>
                        >
                            <%= workshopList[ws] %></option>
                        <% } %>
                    </select>
                    <% } %>
                    <br><br>
                </td>
                <td>
                    申请起始时间：<input id="sqstarttime" class="time" type="text" name="sqstarttime"><br>
                    申请结束时间：<input id="sqendtime" class="time" type="text" name="sqendtime">
                </td>
                <td>
                    输入区段：<input type="text" name="section"><br><br>
                </td>
            </tr>
            <tr>
                <td colspan="3"><input type="submit" value="确认"></td>
            </tr>
        </table>
    </form>
    <script>
        $('.time').each(function () {
            var a = new Calendar({
                targetCls: $(this),
                type: 'yyyy-mm-dd HH:MM:SS',
                wday: 2
            }, function (val) {
                console.log(val);
            });
        });
        $().ready(function () {
            $("#sqstarttime").val(getNormalTime(getFormatTime(getTimeBefore(3))));
            $("#sqendtime").val(getNormalTime(getFormatTime(getTimeBefore(-3))));
        });
        function getTimeBefore(days) {
            var rightNow = new Date();
            rightNow.setMinutes(rightNow.getMinutes() - rightNow.getTimezoneOffset());
            var daysBefore = rightNow.getTime() - days * 24 * 60 * 60 * 1000;
            var tmp = new Date(daysBefore);
            var result = tmp.toISOString().slice(0, 19).replace(/[^0-9]/g, '');
            return result;
        }

        function getFormatTime(origin) {
            return origin.replace(/[^0-9]/g, '');
        }
        function getNormalTime(origin) {
            // origin: 20170215180000
            // result: 2017-02-15 18:00:00

            if (origin == null) {
                return origin;
            }

            var result = origin;
            result = result.replace(/(.{12})/, '$1:');
            // origin: 201702151800:00

            result = result.replace(/(.{10})/, '$1:');
            // origin: 2017021518:00:00

            result = result.replace(/(.{8})/, '$1 ');
            // origin: 20170215 18:00:00

            result = result.replace(/(.{6})/, '$1-');
            // origin: 201702-15 18:00:00

            result = result.replace(/(.{4})/, '$1-');
            // origin: 2017-02-15 18:00:00

            return result;
        }
    </script>
</div>
<div class="container">
    <table>
        <tbody>
        <tr>
            <td>审批表</td>
            <td>所属车间</td>
            <td>区段</td>
            <td>查看或审批</td>
            <td>审批进度</td>
        </tr>
        <% for (var i = 0;i < appResults.length;i++){ %>
        <tr style="<%= (i % 2 == 0 ? "background-color:#7ea9ba" : "") %>">
            <td><a class="applylink" href=<%- appResults[i].href %>><%- appResults[i].name %></a></td>
            <td><%- appResults[i].workshop %></td>
            <td><%- appResults[i].section%></td>
            <td><a class="applylink" href=<%- appResults[i].href %>><%= appResults[i].state %></a></td>
            <td>
                <% if(appResults[i].nextperson == '20'){ %>
                <%= "待车间主任审批" %>
                <% }else if(appResults[i].nextperson == '29'){ %>
                <%= "车间主任不同意" %>
                <% }else if(appResults[i].nextperson == '30'){ %>
                <%= "待技术科审批" %>
                <% }else if(appResults[i].nextperson == '39'){ %>
                <%= "技术科不同意" %>
                <% }else if(appResults[i].nextperson == '40'){ %>
                <%= "待安全科审批" %>
                <% }else if(appResults[i].nextperson == '49'){ %>
                <%= "安全科不同意" %>
                <% }else if(appResults[i].nextperson == '50'){ %>
                <%= "待段领导审批" %>
                <% }else if(appResults[i].nextperson == '59'){ %>
                <%= "段领导不同意" %>
                <% }else if(appResults[i].nextperson == '60'){ %>
                <%= "待工区销点" %>
                <% }else if(appResults[i].nextperson == '70'){ %>
                <%= "已完成" %>
                <% } %>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>
</body>
</html>