<html>
<head>
    <meta charset="utf-8">
    <title>要点查询</title>
    <style>
        body {
            margin: auto;
        }

        h1 {
            text-align: center;
        }

        .apply {
            border: 1px solid;
            width: 80%;
            margin: auto;
            text-align: center;
        }

        .applybtn {
            width: 32%;
        }

        .container {
            margin: 40px auto 150px auto;
            width: 80%;
        }

        table, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        table {
            width: 100%;
        }

        td {
            padding: 5px;
        }
    </style>
    <link rel="stylesheet" href="/stylesheets/cxcalendar.css">
    <script src="/javascripts/jquery-1.9.1.js"></script>
    <script src="/javascripts/calendar.js"></script>
</head>
<body onload="controldisplay()">
<%- include('nav') %>
<%- include('notif') %>
<div class="container">
    <form action="/home/queryResult" , method="get">
        <table>
            <tr>
                <td>
                    选择车间：
                    <select name="workshop">
                        <option value="01">车间1</option>
                        <option value="02">车间2</option>
                        <option value="03">车间3</option>
                    </select><br><br>
                </td>
                <td>
                    申请起始时间：<input class="time" type="text" name="sqstarttime"><br>
                    申请结束时间：<input class="time" type="text" name="sqendtime">
                </td>
                <td>
                    输入区段：<input type="text" name="section"><br><br>
                </td>
            </tr>
            <tr>
                <td colspan="3"><input type="submit" value="确认"></td>
            </tr>
        </table>
    </form>
    <script>
        $('.time').each(function () {
            var a = new Calendar({
                targetCls: $(this),
                type: 'yyyy-mm-dd HH:MM:SS',
                wday: 2
            }, function (val) {
                console.log(val);
            });
        });
    </script>
</div>
<div class="container">
    <table>
        <tbody>
        <tr>
            <td>审批表</td>
            <td>所属车间</td>
            <td>查看或审批</td>
        </tr>
        <% for (var i = 0;i < appResults.length;i++){ %>
        <tr style="<%= (i % 2 == 0 ? "background-color:#0186ba" : "") %>">
            <td><a href=<%- appResults[i].href %>><%- appResults[i].name %></a></td>
            <td><%- appResults[i].workshop %></td>
            <td><a href=<%- appResults[i].href %>><%= appResults[i].state %></a></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>
</body>
</html>